
.div-init{

    padding: 10px;
}

.div-init:hover{

    border: solid;
    border-width: 2px;
    padding: 10px;
    border-color: #D4AF37;
}

.div-init:target{
    border: solid;
    border-width: 2px;
    padding: 10px;
    background-color: #D4AF37;
}

.answer-options{
    font-size: 25px;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    color: white;
    font-weight: 100;
    padding: 10px;
    text-align: center;
}