@import 'style/_colors.scss';
@import 'style/_responsive.scss';
@import 'style/_pseudoelement.scss';

// This stylesheet includes global styles

// 
// GLOBAL STYLES
// 

body {
    /* background by SVGBackgrounds.com */
    background-color: #301f2b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23312f0e' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2338242d'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

// Title Header
h1.title {
    @include responsive-static(font-size, 40, 100);
    @include gradient-primary(color);

    text-shadow: 2px 2px black 6px;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-field {
    border: 2px solid rgba($color: $color-primary, $alpha: 0.5);
}

.anim-fade {
    opacity: 0;
}

.back-div {
    height: 100%;
    max-width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    margin-bottom : 40px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding : 60px;
}

// 
// PAGE SPECIFIC
// 

// Sign up and Sign in pages
.sign-form-wrapper {
    position: relative;
    width: 40%;
    height: auto;
    padding-top: 40%;

    .sign-form-content {
        // The following lines are for positioning the content
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 70%;
        margin: 0 auto;

        & > * {
            margin: 5px 0px;
        }
    }

    &::before {
        @include psuedo-element;
        z-index: -1;
        // top: -50%;
        // padding-bottom: 100%;
        border-radius: 100%;
        
        background-color: rgba($color: $color-primary, $alpha: 1.0);
        border: 2px solid $color-primary;
        @include pattern-primary;
    }

    & input {
        // margin: 5px 0px;
    }
}