@import '../style/_colors.scss';
@import '../style/_responsive.scss';

.sign-form-wrapper {
    @include responsive-static(width, 300, 400);
    position: relative;
    height: auto;
    padding: 1% 0%;
    // Style
    background-color: rgba($color: $color-primary, $alpha: 1.0);
    @include pattern-primary;
    border: 2px solid $color-primary;
    border-radius: 5%;

    .sign-form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 70%;
        margin: 0 auto;

        & > * {
            margin-bottom: 10px;
        }

        & a {
            text-shadow: 1px 1px 2px black;
            color: white;
        }
    }
}
