@import '../style/colors';

$margin-size: 3rem;

.description {
    color: white;
    margin: $margin-size 0;

    &#credits {
        font-style: italic;
    }
}

.description-section {
    padding: 5rem;
    margin: $margin-size 0;

    border-radius: 6px;

    background: #533549;
    color: #ffffff;

    p {
        margin-top: $margin-size;
        margin-bottom: $margin-size;
    }
}

.btn-link {
    margin: 1em;
}