.back-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom : 40px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding : 60px;
}