@import '../style/_colors.scss';

.title{
    margin-top: 1em;
    color: $color-primary;
    font-size: 3em;
}   

.question-section{
    margin: 2rem;

    .question{
        margin-bottom: 1em;
        color: white;
        font-size: 1.5em;
    }

    .answer{
        color: white;
    }

    .answer-label{
        margin-left: 1em;
        color:white;
    }

    Button{
        margin-top: 2em;
    }
}
