.title {
  margin-top: 1em;
  color: #F6B042;
  font-size: 3em;
}

.question-section {
  margin: 2rem;
}

.question-section .question {
  margin-bottom: 1em;
  color: white;
  font-size: 1.5em;
}

.question-section .answer {
  color: white;
}

.question-section .answer-label {
  margin-left: 1em;
  color: white;
}

.question-section Button {
  margin-top: 2em;
}

.end-msg {
  color: #F6B042;
  margin-bottom: 3em;
}
