button {
  background: #533549;
  background: #533549;
  background: linear-gradient(112deg, #533549 0%, #523961 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#533549",endColorstr="#523961",GradientType=1);
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 3px;
}

button:hover {
  color: #533549 !important;
  font-weight: 700 !important;
  letter-spacing: 5px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
